@* @page "/plugins/sample" *@

@*
    Sample Plugin の画面です。
    Plugin Menu および Plugin Registry の動作確認に利用します。
*@

<PageTitle>Sample Plugin</PageTitle>

<h3>Sample Plugin</h3>

<p>
    This page is provided by the Sample Plugin.
</p>